@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";

@import "tw-animate-css";

@utility min-h-section {
  @apply min-h-[calc(100dvh-(var(--spacing)*14)-var(--fd-banner-height))];
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* docs images need to have a white background in dark mode in case they are transparent */
  .dark .docs-body img {
    @apply bg-white;
  }

  /* make selections properlyvisible */
  *::selection {
    @apply bg-accent! text-accent-foreground!;
  }
}

/* Accent colors for the documentation sub-sections */

:root {
  --doc-color-color-1: hsl(141, 53%, 53%);
  --doc-color-color-2: hsl(250, 80%, 54%);
  --doc-color-color-3: hsl(41, 100%, 40%);
  --doc-color-color-4: hsl(217, 91%, 60%);
  --doc-color-color-5: hsl(10, 80%, 55%);
  --doc-color-color-6: hsl(190, 80%, 45%);
  --doc-color-color-7: hsl(120, 50%, 45%);
  --doc-color-color-8: hsl(35, 90%, 45%);
}
.dark {
  --doc-color-color-1: hsl(141, 53%, 53%);
  --doc-color-color-2: hsl(250 100% 80%);
  --doc-color-color-3: hsl(54, 100%, 76%);
  --doc-color-color-4: hsl(217, 91%, 60%);
  --doc-color-color-5: hsl(10, 90%, 70%);
  --doc-color-color-6: hsl(190, 90%, 70%);
  --doc-color-color-7: hsl(120, 60%, 70%);
  --doc-color-color-8: hsl(35, 90%, 70%);
}
.doc-accent {
  --color-fd-primary: var(--doc-color-color-5);
}

/* Shadcn/UI variables */

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.6rem;

  --primary: hsl(0, 0%, 9%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(0, 0%, 93.1%);
  --secondary-foreground: hsl(0, 0%, 9%);
  --muted: hsl(0, 0%, 96.1%);
  --muted-foreground: hsl(0, 0%, 45.1%);
  --accent: hsla(0, 0%, 82%, 50%);
  --accent-foreground: hsl(0, 0%, 9%);
  --background: hsl(0, 0%, 96%);
  --foreground: hsl(0, 0%, 3.9%);

  --card: hsl(0, 0%, 94.7%);
  --card-foreground: hsl(0, 0%, 3.9%);
  --popover: hsl(0, 0%, 98%);
  --popover-foreground: hsl(0, 0%, 15.1%);
  --destructive: oklch(0.577 0.245 27.325);
  --border: hsla(0, 0%, 80%, 50%);
  --input: hsla(0, 0%, 80%, 50%);
  --ring: hsl(0, 0%, 63.9%);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: hsl(0, 0%, 96%);
  --sidebar-foreground: hsl(0, 0%, 3.9%);
  --sidebar-primary: hsl(0, 0%, 9%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsla(0, 0%, 82%, 50%);
  --sidebar-accent-foreground: hsl(0, 0%, 9%);
  --sidebar-border: hsla(0, 0%, 80%, 50%);
  --sidebar-ring: hsl(0, 0%, 63.9%);
}

.dark {
  --primary: hsl(0, 0%, 98%);
  --primary-foreground: hsl(0, 0%, 9%);
  --secondary: hsl(0, 0%, 12.9%);
  --secondary-foreground: hsl(0, 0%, 92%);
  --muted: hsl(0, 0%, 12.9%);
  --muted-foreground: hsla(0, 0%, 70%, 0.8);
  --accent: hsla(0, 0%, 40.9%, 30%);
  --accent-foreground: hsl(0, 0%, 90%);
  --background: hsl(0, 0%, 7.04%);
  --foreground: hsl(0, 0%, 92%);

  --card: hsl(0, 0%, 9.8%);
  --card-foreground: hsl(0, 0%, 98%);
  --popover: hsl(0, 0%, 11.6%);
  --popover-foreground: hsl(0, 0%, 86.9%);
  --destructive: oklch(0.704 0.191 22.216);
  --border: hsla(0, 0%, 40%, 20%);
  --input: hsla(0, 0%, 40%, 20%);
  --ring: hsl(0, 0%, 54.9%);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: hsl(0, 0%, 7.04%);
  --sidebar-foreground: hsl(0, 0%, 92%);
  --sidebar-primary: hsl(0, 0%, 98%);
  --sidebar-primary-foreground: hsl(0, 0%, 9%);
  --sidebar-accent: hsla(0, 0%, 40.9%, 30%);
  --sidebar-accent-foreground: hsl(0, 0%, 90%);
  --sidebar-border: hsla(0, 0%, 40%, 20%);
  --sidebar-ring: hsl(0, 0%, 54.9%);
}

@theme {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: var(--radius);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Fumadocs variables */

@theme {
  --color-fd-background: var(--color-background);
  --color-fd-foreground: var(--color-foreground);
  --color-fd-muted: var(--color-muted);
  --color-fd-muted-foreground: var(--color-muted-foreground);
  --color-fd-popover: var(--color-popover);
  --color-fd-popover-foreground: var(--color-popover-foreground);
  --color-fd-card: var(--color-card);
  --color-fd-card-foreground: var(--color-card-foreground);
  --color-fd-border: var(--color-border);
  --color-fd-primary: var(--color-primary);
  --color-fd-primary-foreground: var(--color-primary-foreground);
  --color-fd-secondary: var(--color-secondary);
  --color-fd-secondary-foreground: var(--color-secondary-foreground);
  --color-fd-accent: var(--color-accent);
  --color-fd-accent-foreground: var(--color-accent-foreground);
  --color-fd-ring: var(--color-ring);

  --color-fd-overlay: oklch(1 0 0 / 20%);
}

.dark {
  --color-fd-background: var(--color-background);
  --color-fd-foreground: var(--color-foreground);
  --color-fd-muted: var(--color-muted);
  --color-fd-muted-foreground: var(--color-muted-foreground);
  --color-fd-popover: var(--color-popover);
  --color-fd-popover-foreground: var(--color-popover-foreground);
  --color-fd-card: var(--color-card);
  --color-fd-card-foreground: var(--color-card-foreground);
  --color-fd-border: var(--color-border);
  --color-fd-primary: var(--color-primary);
  --color-fd-primary-foreground: var(--color-primary-foreground);
  --color-fd-secondary: var(--color-secondary);
  --color-fd-secondary-foreground: var(--color-secondary-foreground);
  --color-fd-accent: var(--color-accent);
  --color-fd-accent-foreground: var(--color-accent-foreground);
  --color-fd-ring: var(--color-ring);

  --color-fd-overlay: oklch(0 0 0 / 20%);
}

.dark #nd-sidebar {
  --color-fd-muted: hsl(0, 0%, 16%);
  --color-fd-secondary: hsl(0, 0%, 18%);
  --color-fd-muted-foreground: hsl(0, 0%, 72%);
}
